/* *{
    margin: 1px;
} */

body{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #444444;
    height: 100px;
    text-align: center;
}

.flex-header{
    height: 65vh;
    justify-content: center;
    align-items: center;
    background-color: #507085;
}

.video{
    height: 535px;
}


.flex-main{
display: flex;
height: 250h;

}

.container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background: #101010;
}

.container2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #101010;
}

.container3{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fff;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21%;
    height: 336px;
    background-color: purple;
    margin: 10px;
    box-sizing: border-box;
    font-size: 50px;
    overflow: hidden;
    
}

.title{
    color: white;
    padding-bottom: 5%;
    font-family: 'Roboto Mono', monospace;
}

.gameTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    align-items: center;
    height: 100px;
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

.flex-nav{
    background-color: grey;
    padding-top: 3rem;
    color: white;
    flex: 1 1 5rem;

}

.flex-article{
    background-color: #101010;
    padding-top: 3rem;
    flex: auto;
}

.flex-footer{
    background-color: orange;
    padding-top: 10rem;
    padding-bottom: 10rem;
}